[submodule "third_party/3Dmigoto"]
	path = third_party/3Dmigoto
	url = https://github.com/bo3b/3Dmigoto.git
[submodule "third_party/DXDecompiler"]
	path = third_party/DXDecompiler
	url = https://github.com/spacehamster/DXDecompiler.git
[submodule "third_party/FidelityFX-FSR"]
	path = third_party/FidelityFX-FSR
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR.git
[submodule "third_party/SMAA"]
	path = third_party/SMAA
	url = https://github.com/iryoku/smaa.git
